In [1]:
import sys
sys.path.insert(0, "../src/")
from KEGGX import *

In [2]:
pathway_id = 'hsa03030'

pathway = KEGGX("../data/human_KGML/{}.xml".format(pathway_id))

In [3]:
pathway.node_attributes_df.head()

,name,aliases,type,x,y,height,width,shape,bgcolor,fgcolor
id,,,,,,,,,,
1,LIG1,LIG1,gene,1158,1231,17,46,rectangle,#BFFFBF,#000000
2,FEN1,"FEN1, FEN-1, MF1, RAD2",gene,1081,1231,17,46,rectangle,#BFFFBF,#000000
3,DNA2,"DNA2, DNA2L, hDNA2",gene,1003,1230,17,46,rectangle,#BFFFBF,#000000
4,RNASEH2A,"RNASEH2A, AGS4, JUNB, RNASEHI, RNHIA, RNHL",gene,1067,1174,17,46,rectangle,#BFFFBF,#000000
5,RNASEH2B,"RNASEH2B, AGS2, DLEU8",gene,1113,1174,17,46,rectangle,#BFFFBF,#000000

In [6]:
graph = pathway.output_KGML_as_graphml('{}.graphml'.format(pathway_id))

In [8]:
graph = pathway.output_KGML_as_graphml('{}_detailed.graphml'.format(pathway_id), detailed=True)

In [9]:
pathway.node_attributes_df.head()

,name,aliases,type,x,y,height,width,shape,bgcolor,fgcolor
id,,,,,,,,,,
14,ALDOA,"ALDOA, ALDA, GSD12, HEL-S-87p...",gene,483,407,17,46,rectangle,#BFFFBF,#000000
38,ALDH2,"ALDH2, ALDH-E2, ALDHI, ALDM...",gene,284,948,17,46,rectangle,#BFFFBF,#000000
40,ALDH3A1,"ALDH3A1, ALDH3, ALDHIII...",gene,259,969,17,46,rectangle,#BFFFBF,#000000
41,C00033,C00033,compound,146,958,8,8,circle,#FFFFFF,#000000
45,AKR1A1,"AKR1A1, ALDR1, ALR, ARM, DD3, HEL-S-6",gene,487,948,17,46,rectangle,#BFFFBF,#000000

In [10]:
pathway.edge_attributes_df.head()

  source target  effect  indirect modification       type
0     38    101       1         0               rn:R00710
1     38     41       1         0               rn:R00710
2     40    101       1         0               rn:R00711
3     40     41       1         0               rn:R00711
4     45     97       1         0               rn:R00746

In [11]:
indices = pathway.node_attributes_df[pathway.node_attributes_df['type'] == 'compound'].index
indices

Index(['41', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104',
       '105', '106', '107', '108', '113', '125', '130', '136'],
      dtype='object', name='id')

In [8]:
pathway.edge_attributes_df[(pathway.edge_attributes_df['source'].isin(indices)) | (pathway.edge_attributes_df['target'].isin(indices))]

   source target  effect  indirect modification   type
43     53     72       1         0               ECrel
44     72     73       1         0               ECrel
52     36     37       1         1               PCrel
54     35     36       1         1               PCrel

In [13]:
directed_edge_attributes_df = pathway._get_directed_edge_attributes_as_dataframe(pathway.edge_attributes_df)

In [14]:
directed_edge_attributes_df.head()

   effect  indirect modification source target       type
0       1         0                  38    101  rn:R00710
1       1         0                  38     41  rn:R00710
2       1         0                  40    101  rn:R00711
3       1         0                  40     41  rn:R00711
4       1         0                  45     97  rn:R00746

In [16]:
directed_edge_attributes_df[directed_edge_attributes_df['source'] == '41']

    effect  indirect modification source target       type
67       1         0                  41    131  rn:R00235

In [15]:
directed_edge_attributes_df[directed_edge_attributes_df['target'] == '41']

   effect  indirect modification source target       type
1       1         0                  38     41  rn:R00710
3       1         0                  40     41  rn:R00711

In [18]:
directed_edge_attributes_df[(directed_edge_attributes_df['source'].isin(indices)) | (directed_edge_attributes_df['target'].isin(indices))]

    effect  indirect modification source target                 type
0        1         0                  38    101            rn:R00710
1        1         0                  38     41            rn:R00710
2        1         0                  40    101            rn:R00711
3        1         0                  40     41            rn:R00711
4        1         0                  45     97            rn:R00746
5        1         0                  45    101            rn:R00746
6        1         0                  46     97            rn:R00754
7        1         0                  46    101            rn:R00754
8        1         0                  98     48            rn:R00014
9        1         0                 136     48            rn:R00014
10       1         0                  48     99            rn:R00014
11       1         0                  96     49            rn:R03270
12       1         0                  99     49            rn:R03270
13       1         0                  49    102            rn:R03270
14       1         0                  49    136            rn:R03270
15       1         0                  50    100            rn:R02569
16       1         0                  50    103            rn:R02569
17       1         0                  50    102            rn:R02569
18       1         0                  51     95            rn:R00703
19       1         0                  51     98            rn:R00703
20       1         0                  92     53            rn:R00200
21       1         0                  53     98            rn:R00200
22       1         0                  55     85            rn:R00658
23       1         0                  55     92            rn:R00658
24       1         0                  56     85            rn:R01518
25       1         0                  56     93            rn:R01518
26       1         0                  57    130            rn:R01061
27       1         0                  57     94            rn:R01061
28       1         0                  58    130            rn:R01015
29       1         0                  58     88            rn:R01015
..     ...       ...          ...    ...    ...                  ...
45       1         0                  87     66            rn:R01600
46       1         0                  66     89            rn:R01600
47       1         0                  67     90            rn:R02739
48       1         0                  67     89            rn:R02739
49       1         0                  69     86            rn:R01602
50       1         0                  69     87            rn:R01602
51       1         0                  86     70            rn:R01786
52       1         0                  70     90            rn:R01786
53       1         0                  86     71            rn:R01786
54       1         0                  71     90            rn:R01786
55       1         0                  90     72            rn:R01788
56       1         0                  72     86            rn:R01788
57       1         0                  75    103            rn:R07618
58       1         0                  75     96            rn:R07618
59       1         0                  76     93            rn:R01512
60       1         0                  76     94            rn:R01512
61       1         0                 113    112  rn:R00431 rn:R00726
62       1         0                 112     92  rn:R00431 rn:R00726
63       1         0                 128    125            rn:R01516
64       1         0                 128     93            rn:R01516
65       1         0                 129     94            rn:R01662
66       1         0                 129    125            rn:R01662
67       1         0                  41    131            rn:R00235
68       1         0                 131    100            rn:R00235
69       1         0                  86    133            rn:R09085
70       1         0                 133     90            rn:R09085
71       1         0                 134     87            rn:R09086
72       1         0                 134     89            rn:R09086
73       1         0                 125    140            rn:R09532
74       1         0                 140     85            rn:R09532

[75 rows x 6 columns]

In [17]:
for compound_id in ['35', '36', '72']: 
    
    targets = directed_edge_attributes_df[directed_edge_attributes_df['target'] == compound_id]
    sources = directed_edge_attributes_df[directed_edge_attributes_df['source'] == compound_id]